{% extends 'main.html' %}
{% block content %}
{% load static %}
<div class="container">
  <h1 class="display-6 text-center">Comite de Entrenamiento</h1>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-1 me-auto">
        <div class="fw-bold">Capitán Sergio Rodríguez</div>
        +50760308270 / srodriguez@unpac-panama.com
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-1 me-auto">
        <div class="fw-bold">Capitán Jaime Cohen</div>
        +50766171046 / jcohen@unpac-panama.com
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-1 me-auto">
          <div class="fw-bold">Capitán Ricardo García</div>
          +50761125285 / rgarcia@unpac-panama.com
        </div>
</ul>
<div class="form-control text-center">
    <h2>unpac@unpac-panama.com</h2>
    {% if message_name %}
    <h2>Gracias, {{message_name}}!</h2>
    <p>Hemos recibido tu mensaje y te responderemos pronto...</p>
    {% else %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Fecha:</label>
            <input type="text" class="form-control" name="date" placeholder="Ingresa la Fecha">
            {{reportes_form.date}}
          </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Comite:</label>
            <input type="text" class="form-control" name="comite" placeholder="Selecciona un Comite">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
          <input type="email" class="form-control" name="nombre" placeholder="Nombre">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Apellido:</label>
          <input type="email" class="form-control" name="apellido" placeholder="Apellido">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo Electronico:</label>
            <input type="email" class="form-control" name="correo" placeholder="name@correo.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Detalle del Reporte:</label>
            <textarea class="form-control" name="detalle" rows="6" placeholder="Detalle su Reporte"></textarea>
          </div>
          <div class="mb-3">
            <label for="myfile">Selecciona una Imagen:</label>
            <input type="file" id="myfile" name="myfile">
          </div>
          <input class="btn btn-primary" type="submit" value="Enviar" />
    </form>
    {% endif %}
</div>
</div>

{% endblock content %}